<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>
        {%if page.title %}
        {{ page.title}} | {{ site.title}}
        {% else %}
        {{ page.title | default: site.title}}
        {% endif %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="" rel="stylesheet"> -->
  </head>
  <body>

<div class="container">
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <script src="//adm.shinobi.jp/s/866d547b0b4324617e6920c3bac0a34c"></script>
    </div>
    <div class="col-2"></div>
    </div>

    <header class="blog-header py-3">
    <div class="row">
    <div class="col-3 pt-1"></div>
    <div class="col-6 text-center">
        <p class="h3">minecraft開発日誌</p>
    </div>
    <div class="col-3"></div>
    </div>
    </header>

    {{ content }}

    <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <script src="//adm.shinobi.jp/s/866d547b0b4324617e6920c3bac0a34c"></script>
    </div>
    <div class="col-2"></div>
    </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>